<div class="topimage">
</div>

<div class="content">
<div class="card__body">
  <div class="card__imgframe1">
  <img src="/assets/images/gazou1.png" >
 </div>
 <%# <div class="card-left">
  <img src="/assets/images/gazou1.png" >
  </div> %>
  <div class="card__textbox">
    <div class="card__titletext">
      画像投稿機能
    </div>
    <div class="card__overviewtext">
      画像付きの口コミを投稿できます！
      実際に訪れた音楽祭をみんなに共有します！
      よりリアルな口コミが見れます！
    </div>
  </div>
</div>

<div class="card__body">
  <div class="card__imgframe2">
  <img src="/assets/images/gazou2.png" >
  </div>
  <div class="card__textbox">
    <div class="card__titletext">
      タイトルがはいります。タイトルがはいります。
    </div>
    <div class="card__overviewtext">
      概要がはいります。概要がはいります。概要がはいります。概要がはいります。
    </div>
  </div>
</div>

<div class="card__body">
  <div class="card__imgframe"></div>
  <div class="card__textbox">
    <div class="card__titletext">
      タイトルがはいります。タイトルがはいります。
    </div>
    <div class="card__overviewtext">
      概要がはいります。概要がはいります。概要がはいります。概要がはいります。
    </div>
  </div>
</div>


<div class="card__body">
  <div class="card__imgframe"></div>
  <div class="card__textbox">
    <div class="card__titletext">
      タイトルがはいります。タイトルがはいります。
    </div>
    <div class="card__overviewtext">
      概要がはいります。概要がはいります。概要がはいります。概要がはいります。
    </div>
  </div>
</div>
</div>